@use '../base/breakpoints';

.logo {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;

  &__img {
    width: 3rem;
  }

  &__text {
    font-family: "Cookie", sans-serif;
    font-size: 2rem;
  }

  &--footer {
    flex-direction: column;
    margin-block: 2rem;
  }
}

header .logo__text {
  @include breakpoints.responsive('md', max) {
    display: none;
  }
}